<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dm1smalbq/image/upload/v1620325529/ImageAdvancedWeb/logo_x6rvrd.jpg">
    <title>Social</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>
    <div id="main-wrapper">
        <%- include('./layouts/nav.ejs') %>
        <% if(locals.message!=''){%>
            <div class="fixed-top alert alert-success alert-dismissible alert-login">
                <%= message %>
            </div>
        <% } %>
        <% if(locals.messageError!=''){%>
            <div class="fixed-top alert alert-danger alert-dismissible alert-login">
                <%= messageError %>
            </div>
        <% } %>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div id="socketio"></div>
                    <div class="card">
                        <div class="card__body add-user">
                            <form action="/adduser" method="post" id="adduserForm">
                                <h4 class="add-user__tittle">TẠO TÀI KHOẢN</h4> 
                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="name">Tên hiển thị</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" id="displayName" name="name" placeholder="Nhập tên hiển thị..">
                                        <span id="errorDisplayName" class="error-input"></span>
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="username">Tên đăng nhập</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tên đăng nhập..">
                                        <span id="errorUsername" class="error-input"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="password">Mật khẩu</label>
                                    <div class="col-9">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu..">
                                        <span id="errorPassword" class="error-input"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="repassword">Nhập lại mật khẩu</label>
                                    <div class="col-9">
                                        <input type="password" class="form-control" id="repassword" placeholder="Nhập lại mật khẩu..">
                                        <span id="errorRepassword" class="error-input"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="categories">Chọn chuyên mục</label>
                                    <div class="col-9">
                                        <div class="add-user__checkbox">
                                            <% category.forEach(function (data) { %>
                                                <div class="form-check mb-3 ">
                                                    <label class="form-check-label">
                                                        <input name="idcategory" type="checkbox" class="add-user__form-check-input idcategory" value="<%= data._id %>"><%= data.name %></label>
                                                </div>
                                            <% }) %>
                                        </div>
                                        <span id="errorCheckbox" class="error-input"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-9 ml-auto">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>

</html>
